name: build-and-deploy
on:
  push:
    branches: [ "develop", "master" ]
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and push image
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/myfinances-web:latest
            ${{ secrets.DOCKER_USERNAME }}/myfinances-web:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
    outputs:
      image_sha: ${{ github.sha }}

  deploy-staging:
    name: Deploy to staging
    if: github.ref == 'refs/heads/develop'
    concurrency:
      group: deploy-staging
      cancel-in-progress: false
    environment:
      name: staging
      url: ${{ vars.STAGING_URL }}
    needs: build-and-push
    runs-on: [self-hosted, staging]
    steps:
      - name: Deploy STAGING
        env:
          TAG: ${{ needs.build-and-push.outputs.image_sha }}
        run: |
          echo "Deploying build $TAG to STAGING"
          cd /srv/docker/myfinances/myfinances-web-staging
          export TAG=$TAG
          docker compose pull
          docker compose up -d
          docker image prune -f

  deploy-prod:
    name: Deploy to production
    if: github.ref == 'refs/heads/master'
    concurrency:
      group: deploy-prod
      cancel-in-progress: false
    environment:
      name: production
      url: ${{ vars.PRODUCTION_URL }}
    needs: build-and-push
    runs-on: [self-hosted, production]
    steps:
      - name: Deploy PRODUCTION
        env:
          TAG: ${{ needs.build-and-push.outputs.image_sha }}
        run: |
          echo "Deploying build $TAG to PRODUCTION"
          cd /srv/docker/myfinances/myfinances-web
          export TAG=$TAG
          docker compose pull
          docker compose up -d
          docker image prune -f
